---
import Layout from "../../../layouts/Layout.astro";

import AddTimeBox from '../../../components/admin/TicketsFunc/AddTimeBox.svelte';
---

<Layout>
  <section>
    <head>
      <title>時間帯を追加 - Admin | THe Scientific Seiko</title>
    </head>
    <div>
      <h2>時間帯を追加</h2>
      <AddTimeBox client:load />
    </div>
  </section>
</Layout>