html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'BizUDMincho';
  src: url('/fonts/BIZUDMincho-Regular.ttf');
}

@font-face {
  font-family: 'EpItalic';
  src: url('/fonts/EpundaSlab-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'EpNormal';
  src: url('/fonts/EpundaSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: Sawarabi;
  src: url('/fonts/SawarabiGothic-Regular.ttf');
}

strong, legend {
  font-family: Sawarabi;
}
