---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="404 Not Found | The Scientific Seiko 2025"
  noindex={true}
>
  <h1>404 Not Found</h1>
  <p>このページのコンテンツは存在しないか，まだ準備中である可能性があります．</p>
</Layout>