---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div>
    <head>
      <title>404 Not Found | The Scientific Seiko 2025</title>
    </head>
    <section>
      <h2>404 Not Found</h2>
    </sction>
</div>
</Layout>