---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <head>
      <title>エラー | The Scientific Seiko 2025</title>
      <meta name="robots" content="noindex" />
    </head>
    <section>
      <h2>エラーが発生しました．</h2>
      <p>詳細は，サイト管理者にお問い合わせください．</p>
    </section>
  </div>
</Layout>