---
import LayoutwithFormAd from '../layouts/LayoutwithFormAd.astro';
---

<LayoutwithFormAd>
  <section>
    <head>
      <title>The Scientific Seiko 2025</title>
    </head>
  </section>
</LayoutwithFormAd>
