---
import Layout from '../../layouts/Layout.astro';
import FormUI from '../../components/FormsFunc/FormUI.svelte';
import JSRequired from '../../components/ErrorMessage/JSRequired.svelte';
---

<Layout>
  <div>
    <head>
      <title>アンケート | The Scientific Seiko 2025</title>
    </head>
    <section>
      <JSRequired thisPage="このアンケート" client:load />
      <FormUI aboutThis="book" client:load />
    </section>
  </div>
</Layout>