---
import Layout from '../../layouts/Layout.astro';
import FormUI from '../../components/FormsFunc/FormUI.svelte';
---

<Layout>
  <div>
    <head>
      <title>アンケート | The Scientific Seiko 2025</title>
    </head>
    <section>
      <FormUI aboutThis="book" client:load />
    </section>
  </div>
</Layout>