---
import Layout from '../../layouts/Layout.astro';
import FormUI from '../../components/FormsFunc/FormUI.svelte';
import JSRequired from '../../components/ErrorMessage/JSRequired.svelte';
---

<Layout
  title="部誌に関するアンケート | The Scientific Seiko 2025"
  description="天文部の部誌「The Scientific Seiko 2025」をお読みになった感想や，フィードバックをお寄せください．次年度以降の参考にいたします．"
>
  <section>
    <JSRequired thisPage="このアンケート" client:load />
    <FormUI aboutThis="book" client:load />
  </section>
</Layout>