---
import Layout from "../../layouts/Layout.astro";
import FormUI from '../../components/FormsFunc/FormUI.svelte';
---

<Layout
  title="プラネタリウムに関するアンケート | The Scientific Seiko 2025"
>
  <section>
    <FormUI aboutThis="planetarium" client:load />
  </section>
</Layout>