---
import Header from '../components/layoutFunc/Header.astro';
import Footer from '../components/layoutFunc/Footer.svelte';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <slot transition:animate=slide />
    <Footer client:load />
  </body>
</html>

<style is:global>
  @import '../styles/globals.scss';
</style>