---
import Layout from './Layout.astro';
---

<Layout>
  <section>
    <h2>アンケートにご協力ください</h2>
    <p>部誌の<a href="/form/">アンケート</a>を実施しております．次回以降への課題といたしますので，読んだ感想などを共有していただけると幸いです．</p>
  </section>
  <slot />
</Layout>