---

---

<a data-pagefind-ignore href="/">
  ＜
  <span>戻る</span>
</a>

<style lang="scss">
  a {
    text-decoration: none;
    span {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>