---

---

<header>
  <a href="/">
    <h1>The Scientific Seiko 2025</h1>
  </a>
  <noscript>
    <p>JavaScriptが無効です．サイト内の一部機能が制限される場合があります．</p>
  </noscript>
</header>

<style lang='scss'>
  h1 {
    font-family: 'EpItalic';
    font-weight: 2px;
  }
</style>