---
import { Image } from 'astro:assets';
import tenmonStamp from '../../images/tenmonStamp.png';
import Menu from './Menu.vue';
---

<header>
  <a href="/">
    <Image class="headerImg" src={tenmonStamp} alt="天文部スタンプ" width={40} />
    <p>The Scientific Seiko</p>
  </a>
  <Menu client:load />
</header>

<style lang='scss'>
  header {
    margin: 2px 15px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(0, 16, 72);
    border-radius: 28px;
    height: 56px;
    align-items: center;
    justify-content: space-between;

    a {
      display: flex;
      flex-direction: row;
      &:hover {
        .headerImg {
          opacity: 0.7;
        }
      }
      p {
        margin: 0;
        font-family: 'EpItalic';
        font-weight: 2px;
        font-size: 2em;
      }
    }
  }
</style>