---
export const prerender = false;

import FirebaseLayout from '../../layouts/FirebaseLayout.astro';
---

<FirebaseLayout>
  <h2>管理ページ</h2>
  <section>
    <h3><a>アンケートを集計</a></h3>
    <h3><a>チケットを管理</a></h3>
  </section>
</FirebaseLayout>