---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <h2>管理ページ</h2>
  <section>
    <h3><a href="/admin/form">アンケートを集計</a></h3>
    <h3><a href="/admin/ticket">チケットを管理</a></h3>
  </section>
</Layout>