---
import Layout from "../../layouts/Layout.astro";

import BackToTop from '../../components/admin/BackToTop.astro';
import AccountWidget from '../../components/admin/AccountWidget.svelte';
import SetNickname from '../../components/admin/PersonalConfig/SetNickname.svelte'
---

<Layout
  title="個人設定 - Admin | The Scientific Seiko 2025"
  noindex={true}
>
  <BackToTop />
  <h2>個人設定</h2>
  <AccountWidget client:load />
  <h3>表示名を変更</h3>
  <SetNickname client:load />
</Layout>